<html>
    <head>
        <title>
            District Details
        </title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet"><link rel="stylesheet" href="classless.css" />
        <link rel="stylesheet" href="https://classless.de/classless.css">
    </head>
    <body>
        <div class="row">
            <nav>
                <ul>
                  <!-- <li>Cowin Details </li> -->
                  <!-- <li><a href="/state"> States</a></li> -->
                  <!-- <li><a href="/districts"> District</a></li> -->
                  <!-- <li><a href="/session">Sessions</a></li> -->
                  <!-- <li class="float-right"><a href="/logout">Logout</a></li> -->
                </ul>
              </nav>
        </div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                {% if all_districts is not none %}
                <table>
                    <thead>
                        <tr>
                            <th> District Name</th>
                            <th>District ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for district in all_districts %} 
                            <tr>
                                <td>{{ district['district_name'] }}</td>
                                <td>{{ district['district_id'] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
            <div class="col-4"></div>
        </div>
        <div class="row">
            <div class="col-4">
            </div>
            <div class="col-4">
                <div class="card">
                    <h4>Get Vaccine details</h4>
                    <br>
                    <form method="POST" action="/">
                        <label for="id">Distric ID</label>
                        <input id="id" name="id" type="number" placeholder="Enter Distric id">
                        <br>
                        <label for="date">Date</label>
                        <input id="date" name="date" placeholder="04-05-2021">
                        <br>
                        <input id="submit" type="submit" value="Get Details">
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>